# ----------------- Frontend --------------
# Node modules
frontend/node_modules/

# Build output
frontend/dist/
frontend/build/
frontend/.vite

# Environment variables
backend/app/.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local IDE/editor files
frontend/.DS_Store/
frontend/.vscode/
frontend/.idea/
frontend/.env
frontend/package-lock.json


# ----------------- Backend --------------
.idea/
__pycache__
/backend/.venv/
/backend/.idea/
